.products-section {
  background-color: #ff4e17;
  padding: 0 2rem;
  min-height: 100vh;
}

.black {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 5rem;
  padding: 10rem 5rem;
}

.products-section .text-container {
  width: 50rem;
  text-align: center;
}

.text-container p {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 2rem;
}

.text-container h1 {
  font-size: 6rem;
  color: #fff;
}

.products-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5rem 0 0 0;
}

.product {
  width: 45%;
  padding: 4rem;
  text-align: center;
  border: 1px solid #4d4d4d;
  border-radius: 2rem;
  margin: 0 4rem;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product:hover {
  transform: translateY(-2rem);
}

.product-img {
  width: 90%;
  border-radius: 2rem;
}

.product-heading {
  margin: 4rem 0 2rem;
  font-size: 3.5rem;
  font-weight: bolder;
  color: #fff;
}

.para-wrapper {
  margin-bottom: 4rem;
}

.product-para {
  font-size: 2rem;
  color: #fff;
  padding: 0 2rem;
}

.product-btn {
  background-color: #fff;
  padding: 1.6rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 2rem;
  border: none;
}

.product-btn a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
  font-weight: 900;
}

.product-demo {
  display: flex;
  align-items: center;
}

.blockchain-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.blockchain-container img {
  width: 6rem;
  padding: 1rem;
  background-color: rgb(26, 26, 26);
  border-radius: 1rem;
  cursor: pointer;
  margin: 3rem 2rem 0 2rem;
}

.blockchain-container p {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgb(26, 26, 26);
}

@media (max-width: 800px) {
  .product {
    width: 80%;
    margin: 2rem 0;
  }

  .products-container {
    flex-direction: column;
    align-items: center;
  }

  .blockchain-container img {
    width: 4rem;
    margin: 3rem 1rem 0rem 1rem;
  }
}

@media (max-width: 500px) {
  .products-section {
    padding: 0;
  }

  .products-section .text-container {
    width: 100%;
    padding-left: 2rem;
  }

  .product-container {
    width: 100%;
    margin: 5rem 0;
    padding: 10rem 2rem;
  }

  .product-description {
    width: 100%;
  }

  .product-demo {
    width: 100%;
  }

  .product-img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .product {
    width: 100%;
  }

  .product-para {
    padding: 0;
  }
}
