.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff4e17;
  padding: 0 15rem;
  min-height: 100vh;
}

.products-section .text-container {
  width: 50rem;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: space-between;
  margin: 10rem 0;
  width: 100%;
  background-color: #000;
  padding: 6rem;
  border-radius: 5rem;
}

.product-description {
  width: 50rem;
}

.product-heading {
  font-size: 5rem;
  padding-bottom: 1rem;
  color: #fff; 
}

.para-wrapper {
  margin-bottom: 4rem;
}

.product-para {
  font-size: 1.8rem;
  color: #fff;
  padding-bottom: 1rem;
}

.product-link {
  font-size: 2rem;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  padding: 1.6rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.product-demo {
  display: flex;
  align-items: center;
}

.product-img {
  width: 50rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(76, 87, 125, 0.25);
}

.products-section .text-container h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #e5e5e5;
  margin-top: 5rem;
}

.products-section .text-container h1 {
  font-size: 6rem;
  color: #fff;
}

@media (max-width: 1300px) {
  .products-section {
    padding: 0 5rem;
  }
}

@media (max-width: 1000px) {
  .products-section {
    align-items: flex-start;
  }

  .products-section .text-container {
    text-align: left;
  }
  
  .product-container {
    flex-direction: column-reverse;
    align-items: left;
    text-align: left;
  }

  .product-description {
    width: 100%;
  }

  .product-demo {
    margin-bottom: 2rem;
  }

  .product-img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .products-section {
    padding: 0;
  }

  .products-section .text-container {
    width: 100%;
    padding-left: 2rem;
  }

  .product-container {
    width: 100%;
    margin: 5rem 0;
    padding: 10rem 2rem;
  }

  .product-description {
    width: 100%;
  }

  .product-demo {
    width: 100%;
  }

  .product-img {
    width: 100%;
  }
}
