.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6783ff08;
  padding: 0 15rem;
  min-height: 100vh;
}

.products-section .text-container {
  width: 50rem;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: space-between;
  margin: 10rem 0;
}

.product-description {
  width: 50rem;
}

.product-heading {
  font-size: 5rem;
  padding-bottom: 1rem;
}

.para-wrapper {
  margin-bottom: 4rem;
}

.product-para {
  font-size: 1.8rem;
  color: #32325d;
  padding-bottom: 1rem;
}

.product-link {
  font-size: 1.8rem;
  text-decoration: none;
  background-color: #8a46ff;
  color: #ffffff;
  padding: 1.8rem 5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.product-link:hover {
  background-color: #6610f2;
}

.product-demo {
  display: flex;
  align-items: center;
}

.product-img {
  width: 50rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(76, 87, 125, 0.25);
}

.products-section .text-container h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #8a46ff;
  margin-top: 5rem;
}

.products-section .text-container h1 {
  font-size: 6rem;
}

@media (max-width: 1300px) {
  .products-section {
    padding: 0 5rem;
  }
}

@media (max-width: 1000px) {
  .product-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .product-demo {
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .products-section {
    padding: 0 2rem;
  }

  .products-section .text-container {
    width: 100%;
  }

  .product-container {
    width: 100%;
  }

  .product-description {
    width: 100%;
  }

  .product-demo {
    width: 100%;
  }

  .product-img {
    width: 100%;
  }
}
