.about-us-section {
  position: relative;
  display: flex;
  padding: 5rem 15rem;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #ff4e17;
}

.about-us-section .bg-img {
  width: 55rem;
}

.about-us-section .text-container {
  width: 55rem;
}


.about-us-section h1 {
  font-size: 6.5rem;
  padding-bottom: 1rem;
  color: #fff;
}

.about-us-section p {
  font-size: 2rem;
  color: #fff;
}

.about-us-section .btn-container {
  display: flex;
}

.about-us-section .btn {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #fff;
  color: #000;
  padding: 1.6rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .about-us-section {
    padding: 5rem;
  }
}

@media (max-width: 1000px) {
  .about-us-section {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .about-us-section {
    padding: 3rem 2rem;
  }
  .about-us-section .text-container {
    width: 100%;
  }

  .about-us-section .bg-img {
    width: 100%;
  }
}
