.section-4 {
  height: 90vh;
  position: relative;
}

.section-4 .bg-img {
  width: 55rem;
  position: absolute;
  top: 5rem;
  left: 15rem;
}

.section-4 .text-container {
  width: 55rem;
  position: absolute;
  top: 7rem;
  right: 15rem;
}

.section-4 h2 {
  font-size: 4rem;
  color: #8a46ff;
}

.section-4 h1 {
  font-size: 5rem;
  padding-bottom: 1rem;
}

.section-4 p {
  font-size: 2rem;
  color: #5e6278;
  padding-bottom: 1rem;
}

.section-4 span {
  color: #20c997;
}

.section-4 .btn-container {
  display: flex;
}

.section-4 .btn {
  font-size: 1.8rem;
  background-color: #8a46ff;
  color: #ffffff;
  padding: 1.8rem 5rem;
  margin-top: 3rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.section-4 .btn:hover {
  background-color: #6610f2;
}
