.home-section {
  height: 80vh;
  display: flex;
  padding: 5rem 15rem;
  align-items: center;
  justify-content: space-between;
}

.home-section .text-container {
  width: 50%;
}

.home-section .heading {
  font-size: 7rem;
  line-height: 10rem;
}

.home-section span {
  color: #8a46ff;
}

.home-section .paragraph {
  font-size: 2.2rem;
  color: #32325d;
  padding: 2rem 0 6rem 0;
}

.home-section .btn-container {
  display: flex;
}

.btn {
  font-size: 1.8rem;
  padding: 1.8rem 5rem;
  border: 2px solid #8a46ff;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-1 {
  background-color: #8a46ff;
  color: #ffffff;
  margin-right: 3rem;
}

.btn-1:hover {
  background-color: #6610f2;
  border-color: #6610f2;
}

.btn-2 {
  background-color: #ffffff;
  color: #8a46ff;
}

.btn-2:hover {
  background-color: #8a46ff;
  color: #ffffff;
}

.home-section .bg-img {
  width: 60rem;
}

@media (max-width: 1300px) {
  .home-section {
    padding: 5rem;
  }

  .home-section .bg-img {
    width: 50rem;
  }
}

@media (max-width: 1000px) {
  .home-section {
    flex-direction: column-reverse;
    height: 130vh;
    padding-top: 10rem;
    text-align: center;
  }

  .home-section .text-container {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .home-section {
    height: 110vh;
  }

  .home-section .text-container {
    width: 100%;
  }

  .home-section .heading {
    font-size: 6rem;
    line-height: 8rem;
  }

  .home-section .bg-img {
    width: 40rem;
  }
}

@media (max-width: 500px) {
  .home-section {
    height: 95vh;
    padding: 1rem;
    padding-top: 10rem;
  }

  .home-section .heading {
    font-size: 5rem;
    line-height: 6rem;
  }

  .home-section .paragraph {
    padding: 2rem 0 3rem 0;
  }

  .home-section .btn-container {
    width: 100%;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .btn-1 {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
