.home-section {
  display: flex;
  padding: 5rem 15rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  text-align: center;
}

.home-section .text-container {
  width: 50%;
}

.home-section .heading {
  font-size: 7rem;
  font-weight: 500;
  line-height: 8rem;
  color: #fff;
}

.home-section span {
  color: #ff4e17;
}

.home-section .paragraph {
  font-size: 2.2rem;
  color: #fff;
  margin: 1rem 0 3rem 0;
}

.home-section .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  border: 2px solid #ff4e17;
  padding: 1.6rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-1 {
  background-color: #ff4e17;
  color: #ffffff;
  margin-right: 3rem;
}

.btn-2 {
  background-color: #000;
  color: #ff4e17;
}

.btn-2:hover {
  background-color: #ff4e17;
  color: #fff;
}

@media (max-width: 1300px) {
  .home-section {
    padding: 5rem;
  }
}

@media (max-width: 1000px) {
  .home-section {
    flex-direction: column-reverse;
    padding-top: 10rem;
    text-align: center;
  }

  .home-section .text-container {
    width: 80%;
  }

  .home-section .btn-container {
    justify-content: center;
  }
}

@media (max-width: 700px) {

  .home-section .text-container {
    width: 100%;
  }

  .home-section .heading {
    font-size: 6rem;
    line-height: 7rem;
  }
}

@media (max-width: 500px) {
  .home-section {
    padding: 2rem 2rem;
    padding-top: 10rem;
  }

  .home-section .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-section .paragraph {
    padding: 2rem 0 3rem 0;
  }

  .home-section .btn-container {
    width: 90%;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .btn-1 {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .btn {
    width: 100%;
  }
}
