header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem 10rem;
  background-color: #000;
}

.logo-heading {
  font-size: 5rem;
  font-weight: 400;
  color: #ff4e17;
  cursor: pointer;
}

.nav {
  display: flex;
}

.list-item {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-btn {
  font-size: 1.8rem;
  background-color: #ff4e17;
  color: #ffffff;
  border: none;
  padding: 1.6rem 4rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

#menu-bar {
  font-size: 3.5rem;
  cursor: pointer;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
}

@media (max-width: 1300px) {
  header {
    padding: 2.3rem 5rem;
  }
}

@media (max-width: 1000px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1.5rem 5rem;
  }

  #menu-bar {
    display: initial;
  }

  header .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background-color: #000;
    transition: display 0.3s ease-out;
  }

  header .nav.active {
    display: initial;
  }

  header .nav .list-item {
    font-size: 3rem;
    padding: 1.5rem 0;
    margin: 1rem 5rem;
    display: block;
  }

  header .nav-btn {
    margin: 2rem 5rem;
  }
}

@media (max-width: 500px) {
  header {
    padding: 2.5rem;
  }

  .logo-heading {
    font-size: 4rem;
  }

  header .nav .list-item {
    margin: 1rem 3rem;
  }

  header .nav-btn {
    margin: 2rem 3rem;
  }
}
