.supported-blockchains-section {
  padding: 3rem 15rem;
  background-color: #ff4e17;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10rem 0;
}

.headings {
  margin-left: 5rem;
}

.headings p {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

.headings h1 {
  font-size: 6rem;
  width: 30rem;
  color: #fff;
}

.blockchain-container {
  display: flex;
  width: 60%;
  padding: 2rem;
  flex-wrap: wrap;
}

.blockchain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.blockchain img {
  width: 6rem;
  padding: 1rem;
  background-color: #000;
  border-radius: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.blockchain p {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s;
}

@media (max-width: 1300px) {
  .supported-blockchains-section {
    padding: 0 5rem;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .headings {
    margin: 0;
  }

  .supported-blockchains-section .headings h1 {
    width: 100%;
  }

  .blockchain-container {
    width: 100%;
    margin: 4rem 0 0 0;
  }
}

@media (max-width: 500px) {
  .supported-blockchains-section {
    padding: 0;
  }

  .container {
    padding: 5rem 0;
  }

  .blockchain-container {
    margin: 0;
  }
}
