.features-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 0 15rem;
  background-color: #6783ff08;
  min-height: 100vh;
}

.features-section h1 {
  font-size: 5rem;
  width: 50rem;
  margin-top: 4rem;
}

.feature-description-container {
  width: 70rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.feature-description {
  width: 26rem;
  margin: 5rem 5rem 5rem 0;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
}

.feature-description img {
  width: 5rem;
  margin-bottom: 3rem;
}

.feature-description p {
  font-size: 2.2rem;
  color: #32325d;
}

@media (max-width: 1300px) {
  .features-section {
    padding: 0 5rem;
  }

  .feature-description-container {
    width: 65rem;
  }
}

@media (max-width: 1000px) {
  .features-section {
    flex-direction: column;
  }

  .feature-description-container {
    justify-content: center;
    width: 90%;
  }

  .feature-description {
    margin: 5rem;
  }
}

@media (max-width: 500px) {
  .features-section {
    padding: 0;
  }
  .features-section h1 {
    width: 100%;
    font-size: 4rem;
    padding: 0 1rem;
    text-align: center;
  }
}