.features-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 15rem;
  background-color: #ff4e17;
  min-height: 100vh;
}

.features-section h1 {
  font-size: 5rem;
  margin-top: 4rem;
  color: #fff;
  width: 50rem;
}

.feature-description-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.feature-description {
  width: 26rem;
  margin: 5rem 5rem 5rem 0;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
}

.feature-description img {
  width: 5rem;
  margin-bottom: 3rem;
}

.feature-description p {
  font-size: 2.2rem;
  color: #fff;
}

@media (max-width: 1300px) {
  .features-section {
    padding: 0 5rem;
  }

  .feature-description-container {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .features-section {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .feature-description-container {
    justify-content: left;
    width: 90%;
  }

  .feature-description {
    margin: 5rem 5rem 5rem 0;
  }
}

@media (max-width: 500px) {
  .features-section {
    padding: 2rem;
  }

  .features-section h1 {
    width: 100%;
    font-size: 4rem;
  }

  .feature-description-container {
    width: 100%;
  }

  .feature-description {
    width: 100%;
  }
}
