footer {
  padding: 4rem 15rem;
  background-color: #ff4e17;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 5rem 0;
}

.footer-logo {
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.subscribe-container h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
}

.subscribe-container p {
  font-size: 2rem;
  color: #fff;
}

.form {
  margin: 2rem 0;
  display: flex;
}

.form input {
  padding: 2rem 0 2rem 2rem;
  border-style: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  width: 40rem;
  margin-right: 2rem;
  background-color: hsla(0, 0%, 100%, 0.15);
  color: #fff;
}

.form input::placeholder {
  color: #fff;
}

.form input:focus {
  outline: none;
}

.form a {
  padding: 2rem;
  border-style: none;
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  width: 15rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}

.footer-bottom p {
  font-size: 1.5rem;
}

.footer-bottom .links {
  display: flex;
}

.footer-bottom .links p {
  margin-right: 3rem;
  color: #fff;
}

.footer-bottom .links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 2rem;
}

.footer-bottom p {
  color: #fff;
}

@media (max-width: 1300px) {
  footer {
    padding: 4rem 5rem;
  }

  .footer-logo {
    font-size: 6rem;
  }

  .subscribe-container h1 {
    font-size: 4rem;
  }

  .subscribe-container p {
    font-size: 2.5rem;
  }

  .form input {
    font-size: 2rem;
  }

  .form a {
    font-size: 2rem;
  }

  .footer-bottom p {
    font-size: 2rem;
  }

  .footer-bottom .links a {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .footer-top {
    flex-direction: column;
  }

  .subscribe-container {
    margin-top: 5rem;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-bottom .links {
    margin-bottom: 4rem;
  }
}

@media (max-width: 500px) {
  footer {
    padding: 3rem 2rem;
  }

  .form {
    flex-direction: column;
  }

  .form input {
    width: 100%;
    margin-bottom: 2rem;
  }

  .form a {
    width: 100%;
  }
}
