.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.section-3 h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #8a46ff;
  margin-bottom: 2rem;
}

.section-3 h1 {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.blockchain-container {
  display: flex;
  width: 100rem;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.blockchain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 4rem;
}

.section-3 img {
  width: 5rem;
  padding: 1rem;
  background-color: rgb(243, 242, 250);
  border-radius: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.section-3 p {
  font-size: 2rem;
  cursor: pointer;
  color: #32325D;
  transition: all 0.2s;
}

.section-3 p:hover {
  color: #5e6278;
}
