.know-more-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  padding: 5rem 15rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #ff4e17;
}

.know-more-section .text-container {
  width: 55rem;
}

.text-container .sub-heading {
  font-size: 1.8rem;
  color: #fff;
}

.know-more-section h1 {
  font-size: 6rem;
  color: #fff;
}

.text-container .about-para {
  font-size: 2rem;
  color: #fff;
  margin: 1rem 0 2rem 0;
}

.know-more-section .btn-container {
  display: flex;
}

.know-more-section .btn {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid #fff;
}

.know-more-section .btn-1 {
  background-color: #fff;
  color: #000;
  margin-right: 3rem;
}

.know-more-section .btn-2 {
  color: #fff;
  background-color: #ff4e17;
}

.know-more-section .btn-2:hover {
  background-color: #fff;
  color: #000;
}

.know-more-section .bg-img {
  width: 50rem;
}

@media (max-width: 1300px) {
  .know-more-section {
    padding: 5rem;
  }

  .know-more-section .text-container {
    left: 5rem;
  }
}

@media (max-width: 1000px) {
  .know-more-section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .know-more-section .text-container {
    width: 100%;
  }

  .know-more-section .btn-container {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .know-more-section {
    padding: 5rem 2rem;
  }

  .know-more-section .text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .know-more-section .btn-container {
    justify-content: space-between;
    width: 38rem;
  }

  .know-more-section .btn {
    padding: 1.6rem;
  }

  .know-more-section .bg-img {
    width: 100%;
  }

  .know-more-section .btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 340px) {
  .btn-container {
    flex-direction: column;
  }

  .btn {
    margin-bottom: 1rem;
  }
}
