.benefits-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15rem;
  background-color: #000; /* undo */
}

.benefits-section .text-container {
  width: 50rem;
  text-align: center;
  margin-bottom: 5rem;
}

.benefits-section .text-container h2 {
  font-size: 3rem;
  font-weight: 500;
  /* color: #8a46ff; */
  color: #e5e5e5;
  margin-top: 5rem;
}

.benefits-section .text-container h1 {
  font-size: 6rem;
  color: #fff;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.card {
  width: 35rem;
  height: 33rem;
  text-align: center;
  margin: 2rem;
  border-radius: 0.8rem;
  /* box-shadow: 0px 0px 5px 0px rgba(76, 87, 125, 0.25); */
  border: 2px solid #4d4d4d; /* undo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-heading {
  font-size: 3rem;
  font-weight: 500;
  /* color: #32325d; */
  color: #fff;
  padding: 0 2rem 2rem;
}

.card-para {
  font-size: 2rem;
  /* color: #32325d; */
  color: #fff;
  padding: 0 2.5rem;
  text-align: justify;
}

@media (max-width: 1300px) {
  .benefits-section {
    padding: 0 5rem;
  }
}

@media (max-width: 800px) {
  .card {
    height: auto;
    padding: 3rem 1rem;
  }
}

@media (max-width: 500px) {
  .benefits-section {
    padding: 0;
  }

  .benefits-section .text-container {
    width: 90%;
  }

  .card-para {
    padding: 1.5rem;
  }
}
